<h2 class="contact_info">
  Contact Information
  <br>
  There are <%= Contact.count %> Contacts
</h2>

<ul>
<% Contact.all.each do |contact| %>
  <li class="contact_details">
  <%= contact.first_name %> <%= contact.last_name %>
  (<%= contact.email %>)
  <p class="contact_editor"><a href="/contacts/edit">Edit</a> | <a href="#">Delete</a> | <a href="/contacts/:id">ID: <%= contact.id %></a></p>
</li>
<% end %>
</ul>


<!-- <a href="/contacts/:id"> -->
