<header>
  <h1> <%= @crm_contact_name %> </h1>
</header>

<div>
  <li class="home_nav"><a href="/">Home</a></li>
  <li class="home_nav">Main Menu</li>
  <li class="home_nav">About</li>
</div>

<h2 class="contact_info">
  Contact Information
</h2>
<ul>
<% Contact.all.each do |contact| %>
  <li class="contact_details">
  <%= contact.first_name %>
  <%= contact.last_name %>
  (<%= contact.email %>)
  <p class="contact_editor"><a href="#">Edit</a> | <a href="#">Delete</a></p>
</li>
<% end %>
</ul>

<h2>
  Notes
</h2>
<ul>
  <% Contact.all.each do |contact| %>
  <li>
    <%= contact.note  %>
  </li>
  <% end %>
</ul>

<li><a href="/contacts/new">Add a New Contact</a></li>
<a href="/">Back to Main Menu</a>
<footer>
<p>© Bitmaker 2017</p>
</footer>
